body {
    background-color: bisque;
}

main {
    width: 50%;
    margin: 50px auto;
    text-align: center;
}

ul {
    list-style-type: none;
}

.repertoire-list {
    width: 100%;
    overflow: auto;
    outline: 2px black;
}

.piece-container {
    width: 40%;
    float: left;
    outline-width: 1px;
    outline-style: solid;
    outline-color: black;
    background-color: antiquewhite;
}

.piece-info {
    margin: 5px;
}